
.back-to-list {
            float: right;
            color: lightblue;
        }
        .back-to-list:before {
            content: url(./../../static/src/images/back-to-list.png);
            width: 12px;
            height: 10px;
            margin-right: 8px;
        }
        .difference_amount {
            margin-bottom: 15px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow:  0 3px 8px 0px rgba(0,0,0,0.20);
        }

        .difference_amount div.difference_amountDiv {
            width: 382px;
            height: 120px;
            display: inline-block;
            margin-right: 96px;
            vertical-align: top;
            background: url(./../../static/src/images/account/bg6.png) no-repeat 100% 100%;
        }

        .difference_amount div p {
            text-align: center;
        }

        .difference_amount div p:nth-of-type(1) {
            text-align: left;
        }
        .difference_amountP {
            margin-left: 20px;
            margin-top: 15px;
        }
        .difference_amountP:after {
            content: url('../../static/src/images/question.png');
            margin:5px;
            vertical-align: middle;
        }
        .difference_amountP+p {
            font-size: 24px;
        }

        .profit-loss div {
            width: 130px;
            height: 34px;
            line-height: 35px;
            text-align: left;
            text-indent: 10px;
            margin-right: 8px;
            display: inline-block;
            border-radius: 4px;
            border: 1px solid rgba(210, 214, 222, 1);
        }

        .amountCon {
            display: inline-block;
            padding: 10px;
        }

        .amountCon div {
            width: 240px;
            height: 65px;
            border-radius: 4px;
            border:1px solid #eee;
            padding: 15px 0 20px 0;
            background-color: rgba(255, 255, 255, 1);
            text-align: left;
            display: inline-block;
            margin-right: 6px;
            position: relative;

        }
        .amountCon div p {
            margin-left: 20px;
        }
        .amountCon div p:nth-of-type(1):after{
            content: url('../../static/src/images/question.png');
            margin:5px;
            vertical-align: middle;
        }

        .amountCon div.unconfirmed_amount {
            margin-right: -3px;
        }
        .amountCon div p:nth-of-type(1)+p {
            float: left;
            margin-top: 15px;
            font-size: 24px;
        }
        .amountCon div.error_amount{
            background: url('../../static/src/images/account/bg4.png') no-repeat 100% 100%;
        }
        .amountCon div.out_of_amount{
            background: url('../../static/src/images/account/bg5.png') no-repeat 100% 100%;
            border: 1px solid rgba(77, 161, 255, 1);
        }
        .amountCon div.unconfirmed_amount{
            background: url('../../static/src/images/account/bg3.png') no-repeat 100% 100%;
        }

        .amountCon div.out_of_amount i.triangle-up {
            top: 121px;
            left: 114px;
        }